*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain light', sans-serif;
    color: #fff;
}
/* 
body{
    cursor: none;
} */
#crsr{
    width: 2.3vw;
    height: 2.3vw;
    position: fixed;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff8c;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

@font-face {
    font-family: 'Silk Serif';
    src: url(fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
    font-family: 'Plain light';
    src: url(fonts/plain-light-webfont.ttf);
}

#main{
    position: relative;
    background-color: #111;
}

#loader{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #0b0b0b;
    z-index: 999;
    padding: 19.5vh 8vw;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: 'Plain light';
    font-weight: 600;
    gap: 2vw;
}

#l1p1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    width: 19vw;
}

#l1p1 h5{
    width: 5vw;
    text-align: right;
}

#l1p1 h5, #l1p1 h6{
    font-size: 3vw;
    font-family: 'Silk Serif';
    font-weight: 300;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    line-height: 7vw;
    font-family: 'Plain light';
    font-weight: 600;
}

#l4p1 h2{
    font-size: 4.5vw;
    font-family: 'Plain light';
    font-weight: 600;
    text-transform: uppercase;
    height: fit-content;
    opacity: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes change{
    0%{
        font-family: 'Plain light';
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: 'Plain light';
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: 'Silk Serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: 'Silk Serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.8vw 7.8vw;
}

#nav-sub{
    display: flex;
    align-items: center;
    gap: 2.5vw;
}

#nav-sub a{
    text-decoration: none;
    font-size: 0.95vw;
    font-weight: 400;
}

.links{
    overflow: hidden;
}

@font-face {
    font-family: 'Plain';
    src: url(fonts/plain-regular-webfont.ttf);
}

.hero{
    margin-left: 27.4vw;
    overflow: hidden;
}

.hero h1{
    font-family: 'Plain';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 7.4vw;
    line-height: 7.4vw;
}

.hero:nth-child(2){
    margin-top: 14vh;
}

span.u{
    text-decoration: underline;
    text-underline-offset: 0.7vw;
    text-decoration-thickness: 0.5vw;
    transition: all 0.25s ease-in-out;
}

span.u:hover{
    -webkit-text-stroke:1px #fff;
    text-decoration: none;
    color: transparent;
}